<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<style>
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .top-text {
    padding: 50px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
  }
  .top-text p {
    color: lightsteelblue;
  }
</style>

<div class="container">
  <div class="top-text">
    <h1>Blog Ideas Generator</h1>
    <p>Looking for some inspiration?</p>
  </div>
  
  <div class="form">

    <form class="" action="/ideas" method="post">
      <div class="form-group">
        <input class="form-control" type="text" name="inputIdea" placeholder="Enter a word or phrase to get started.">
        <button class="btn btn-primary btn-sm" type="submit" name="button">Add</button>
      </div>
    </form> 

    <div class="card">
      <p>Here are some suggestions:</p>     
          
     
    </div>
  </div>

  

</div>

<%- include("partials/footer"); -%>
